* SELECT

In [ ]:
# 모든 레코드 조회하기 
SELECT * from ANIMAL_INS order by ANIMAL_ID;

In [ ]:
# 역순 정렬하기
SELECT NAME, DATETIME from ANIMAL_INS order by ANIMAL_ID desc

In [ ]:
# 아픈 동물 찾기
SELECT ANIMAL_ID, NAME from ANIMAL_INS WHERE INTAKE_CONDITION = "SICK" order by ANIMAL_ID;

In [ ]:
# 어린 동물 찾기
SELECT ANIMAL_ID, NAME from ANIMAL_INS WHERE INTAKE_CONDITION != "Aged" ORDER BY ANIMAL_ID

In [ ]:
# 동물의 아이디와 이름
SELECT ANIMAL_ID, NAME from ANIMAL_INS ORDER BY ANIMAL_ID

In [ ]:
# 여러 기준으로 정렬하기
SELECT ANIMAL_ID, NAME, DATETIME from ANIMAL_INS ORDER BY NAME, DATETIME desc

In [ ]:
# 상위 n개 레코드
SELECT NAME FROM ANIMAL_INS ORDER BY DATETIME LIMIT 1

* SUM, MAX, MIN

In [ ]:
# 최댓값 구하기
SELECT DATETIME FROM ANIMAL_INS ORDER BY DATETIME DESC LIMIT 1

In [ ]:
# 최솟값 구하기
SELECT DATETIME FROM ANIMAL_INS ORDER BY DATETIME LIMIT 1

In [ ]:
# 동물 수 구하기
SELECT COUNT(ANIMAL_ID) FROM ANIMAL_INS

In [ ]:
# 중복 제거하기
SELECT COUNT(DISTINCT NAME) FROM ANIMAL_INS WHERE NOT NAME is NULL

* GROUP BY

In [ ]:
# 고양이와 개는 몇 마리 있을까
SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE) AS 'count'
FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE

In [ ]:
# 동명 동물 수 찾기
SELECT NAME, COUNT(NAME) AS 'COUNT'
FROM ANIMAL_INS 
GROUP BY NAME HAVING COUNT(NAME)>1
ORDER BY NAME

In [ ]:
# 입양 시각 구하기 (1)
SELECT HOUR(DATETIME) AS HOUR, COUNT(HOUR(DATETIME)) AS COUNT
FROM ANIMAL_OUTS
WHERE HOUR(DATETIME) >= 9 AND HOUR(DATETIME) <= 19
GROUP BY HOUR(DATETIME)
ORDER BY HOUR(DATETIME)

In [ ]:
# 입양 시각 구하기 (2)
SET @HOUR = -1; 
SELECT (@HOUR := @HOUR + 1) HOUR, (SELECT COUNT(*) FROM ANIMAL_OUTS WHERE HOUR(DATETIME) = @HOUR ) COUNT 
FROM ANIMAL_OUTS 
WHERE @HOUR < 23

* IS NULL

In [ ]:
# 이름이 없는 동물의 아이디
SELECT ANIMAL_ID 
FROM ANIMAL_INS 
WHERE NAME is NULL

In [ ]:
# 이름이 있는 동물의 아이디
SELECT ANIMAL_ID 
FROM ANIMAL_INS 
WHERE NAME is not NULL 
ORDER BY ANIMAL_ID

In [ ]:
# NULL 처리하기
SELECT ANIMAL_TYPE, IFNULL(NAME,'No name'), SEX_UPON_INTAKE 
FROM ANIMAL_INS 
ORDER BY ANIMAL_ID

* JOIN

In [ ]:
# 없어진 기록 찾기
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME 
FROM ANIMAL_OUTS 
LEFT JOIN ANIMAL_INS ON ANIMAL_INS.ANIMAL_id = ANIMAL_OUTS.ANIMAL_id 
WHERE ANIMAL_INS.ANIMAL_id IS NULL

In [ ]:
# 있었는데요 없었습니다
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME 
FROM ANIMAL_OUTS 
JOIN ANIMAL_INS ON ANIMAL_OUTS.ANIMAL_ID = ANIMAL_INS.ANIMAL_ID 
WHERE ANIMAL_OUTS.DATETIME < ANIMAL_INS.DATETIME 
ORDER BY ANIMAL_INS.DATETIME

In [ ]:
# 오랜 기간 보호한 동물(1)
SELECT ANIMAL_INS.NAME, ANIMAL_INS.DATETIME 
FROM ANIMAL_INS 
LEFT JOIN ANIMAL_OUTS ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID 
WHERE ANIMAL_OUTS.ANIMAL_ID IS NULL 
ORDER BY ANIMAL_INS.DATETIME 
LIMIT 3

In [ ]:
# 보호소에서 중성화한 동물
SELECT ANIMAL_INS.ANIMAL_ID, ANIMAL_INS.ANIMAL_TYPE, ANIMAL_INS.NAME 
FROM ANIMAL_INS
LEFT JOIN ANIMAL_OUTS ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID 
WHERE SEX_UPON_OUTCOME != SEX_UPON_INTAKE
ORDER BY ANIMAL_INS.ANIMAL_ID

* String, Date

In [ ]:
# 루시와 엘라 찾기
SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE 
FROM ANIMAL_INS 
WHERE NAME = 'Lucy' OR NAME = 'Ella' OR NAME = 'Pickle' OR NAME = 'Rogan' OR NAME = 'Sabrina' OR NAME = 'Mitty'

In [ ]:
# 이름에 el이 들어가는 동물 찾기
SELECT ANIMAL_ID, NAME 
FROM ANIMAL_INS 
WHERE NAME LIKE '%EL%' AND ANIMAL_TYPE = 'DOG' 
ORDER BY NAME

In [ ]:
# 중성화 여부 파악하기
SELECT ANIMAL_ID, NAME, CASE 
WHEN SEX_UPON_INTAKE LIKE '%Intact%' THEN "X" ELSE "O" END AS "중성화" 
FROM ANIMAL_INS 
ORDER BY ANIMAL_ID

In [ ]:
# 오랜 기간 보호한 동물(2)
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME 
FROM ANIMAL_OUTS LEFT JOIN ANIMAL_INS ON ANIMAL_OUTS.ANIMAL_ID = ANIMAL_INS.ANIMAL_ID
ORDER BY DATEDIFF(ANIMAL_OUTS.DATETIME, ANIMAL_INS.DATETIME) DESC
LIMIT 2

In [ ]:
# DATETIME에서 DATE로 형 변환
SELECT ANIMAL_ID, NAME, date_format(DATETIME, '%Y-%m-%d')
FROM ANIMAL_INS 
ORDER BY ANIMAL_INS.ANIMAL_ID